body
{
    background-color: #ddd;
}

.corpo
{
    padding: 0 2rem;
}

.main
{
    justify-content: start;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

h1
{
    margin: 0 0 0.5rem 0;
    padding: 0.7rem 0.4rem;
    font-weight: 700;
    background-color: white;
}

.card
{
    background-color: white;
    width: 100%;
    padding: 1.2rem 0.7rem;
    border-radius: 8%;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 25px 8px rgba(0, 0, 0, 0.1);
}

.icone
{
    margin-bottom: 1.1rem;
}

.fa-solid
{
    color: #4894FE;
    font-size: 3rem;
}

.valor
{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0.8rem 0;
}

.instante
{
    color: rgba(0, 0, 0, 0.5);
}

.progress-circle 
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#4894FE 92%, #69696971 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.progress-value 
{
    position: absolute;
    font-size: 1.5rem;
    color: #3e3d3d;
    font-weight: bold;
}

.fa-plug
{
    color:#fb4646;
}

.energia
{
    background: conic-gradient(#fb4646 32%, #69696971 0%);
}

.tabelaDetalhes
{
    padding-bottom: 1rem;
}

h2
{
    margin: 0 1rem 1rem 0;
    font-size: 2rem;
}

h2 .fa-clock
{
    font-size: 1.5rem;
}

table
{
    width: 100%;
    margin: 1rem auto;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 25px 8px rgba(0, 0, 0, 0.1);
    border-spacing: 0px;
    background-color: rgb(255, 255, 255);
}

th, td
{
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #000;
}

thead th
{
    font-size: 1.5rem;
    font-weight: bold;
}

tbody td:nth-child(2)
{
    color: #4894FE;
}

tbody td:nth-child(3)
{
    color: #fb4646;
}

@media (min-width: 450px)
{
    .card
    {
        width: 80%;
        margin: 1rem auto;
    }
  
}

@media (min-width: 600px)
{
    .card
    {
        width: 70%;
    }
  
}

@media (min-width: 700px)
{
    .card
    {
        width: 60%;
    }

    table
    {
        width: 70%;
    }
}

@media  (min-width: 750px) {
    .main
    {
        flex-direction: row;
        justify-content: start;
        gap: 15px;
        align-items: start;        
    }
}

@media (min-width: 802px)
{
    .corpo
    {
        width: 90%;
        margin: 0 auto;
    }

    .card
    {
        width: auto;
        margin: 2rem 1rem;
    }

    table
    {
        margin: 0;
        width: auto;
    }
}

@media (min-width: 950px)
{
    .corpo
    {
        width: 70%;
        margin: 0 auto;
    }
}
