main
{
    justify-content: start;
    padding: 0rem 1rem 0 1rem;
    background-color: #ddd;
}

h1
{
    width: 100%;
    margin: 1rem 0;
    padding: 0.7rem 0.4rem;
    font-weight: 700;
    background-color: white;
}

.card
{
    background-color: white;
    width: 100%;
    padding: 1.2rem 0.7rem;
    border-radius: 8%;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 25px 8px rgba(0, 0, 0, 0.1);
}

.icone
{
    margin-bottom: 1.1rem;
}

.fa-solid
{
    color: #4894FE;
    font-size: 3rem;
}

.valor
{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0.8rem 0;
}

.instante
{
    color: rgba(0, 0, 0, 0.5);
}

.progress-circle 
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#4894FE 92%, #69696971 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.progress-value 
{
    position: absolute;
    font-size: 1.5rem;
    color: #3e3d3d;
    font-weight: bold;
}

.fa-plug
{
    color:#fb4646;
}

.energia
{
    background: conic-gradient(#fb4646 32%, #69696971 0%);
}

main
{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

@media (min-width: 802px)
{
    main
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding: 0 2rem;
    }

    .card
    {
        margin: 1rem;
    }
}

@media (min-width: 1000px)
{
    main
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding: 0 6rem;
    }
}